body{
    font-family: 'Barlow';
    font-size: 1.5vmax;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins';
    text-align: center;
    line-height: 5vw;
}

h1{
   font-size: 7vw; 
}

h2{
    font-size: 5vw; 
}

h4{
    font-size: 3vw; 
}

h6{
    font-size: 1.5vw; 
}

#home, #success, #technology, footer{
    height: 100vh;
    text-align: center;
    padding: 15vmin 0;
} 

#home, #success{
    background-image:url('../gfx/background.jpg');
    background-repeat:no-repeat;
    color:white;
}

#home h1{
    margin: 3vh;
}

img{
    margin-top: 2vw;
    width: 20vw;
}

#technology, #footer{
    color:rgb(3,40,110);
}

ol{
    width: 50%;
}

ol, ul{
margin: 10vh auto 10vw auto;
list-style: none;
padding: 0;
}

ol li{
display: inline-block;
width: 30%;
margin: 1vw 0;
text-align: left;
}

li span{
display: inline-block;
width: 3vw;
height: 3vw;
text-align: center;
border: 1px solid rgb(3,40,110);
line-height: 2.2vw;
margin-right: 3vw;
font-size: 2vw;
border-radius: 50%;
box-shadow: 0.1vmax 0.1vmax 1vmax grey;    
}